<?xml version="1.0"?>
<config>
  <modules>
    <Bluehorse_CancelOrder>
      <version>0.1.0</version>
    </Bluehorse_CancelOrder>
  </modules>
  <frontend>
    <routers>
      <cancelorder>
        <use>standard</use>
          <args>
            <module>Bluehorse_CancelOrder</module>
            <frontName>cancelorder</frontName>
          </args>
      </cancelorder>
    </routers>
		<layout>
		  <updates>
			<cancelorder>
			  <file>cancelorder.xml</file>
			</cancelorder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <cancelorder>
        <class>Bluehorse_CancelOrder_Helper</class>
      </cancelorder>
    </helpers>
	<blocks>
	  <cancelorder>
		<class>Bluehorse_CancelOrder_Block</class>
	  </cancelorder>
	</blocks>
	<models>
	  <cancelorder>
		<class>Bluehorse_CancelOrder_Model</class>
		<resourceModel>cancelorder_mysql4</resourceModel>
	  </cancelorder>
	  <cancelorder_mysql4>
		<class>Bluehorse_CancelOrder_Model_Mysql4</class>
		<entities>		  
			  <cancel>
				<table>order_cancel</table>
			  </cancel>
        </entities>
	  </cancelorder_mysql4>
	</models>
	<resources>
	  <cancelorder_setup>
		<setup>
		  <module>Bluehorse_CancelOrder</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </cancelorder_setup>
	  <cancelorder_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </cancelorder_write>
	  <cancelorder_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </cancelorder_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <cancelorder>
	    <use>admin</use>
		<args>
		  <module>Bluehorse_CancelOrder</module>
		  <frontName>cancelorder</frontName>
		</args>
	  </cancelorder>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <cancelorder module="cancelorder">
		<title>CancelOrder</title>
		<sort_order>100</sort_order>
		<children>
		  <cancel module="cancelorder">
		    <title>Manage Cancel</title>
			<sort_order>0</sort_order>
			<action>cancelorder/adminhtml_cancel</action>
		  </cancel>
		</children>
	  </cancelorder>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<cancelorder translate="title" module="cancelorder">
			  <title>CancelOrder</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <cancel translate="title">
			<title>Manage Cancel</title>
			<sort_order>0</sort_order>
		  </cancel>
			  </children>
			</cancelorder>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<cancelorder>
		  <file>cancelorder.xml</file>
		</cancelorder>
	  </updates>
	</layout>
  </adminhtml>
</config> 