<?xml version="1.0"?>
<config>
	  <sections>
		<bhsms translate="label" module="sms">                    
		<label>SMS</label>
		<tab>sales</tab>
		<frontend_type>text</frontend_type>
		<sort_order>100</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <api translate="label"> 
					  <label>Sms Api Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>1</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <username translate="label">
                            <label>Username</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </username>
                          <password translate="label">
                            <label>Password</label>
							<frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </password>
                          <udh translate="label">
                            <label>UDH</label>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </udh>
                          <from translate="label">
                            <label>From</label>
							<frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </from>
					   </fields>
					   </api>
				      <message translate="label"> 
					  <label>Message Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>2</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <staticmsg translate="label">
                            <label>Message</label>
							<frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </staticmsg>
					   </fields>
					   </message>
					</groups>
		</bhsms>
	  </sections>
</config>
