<?xml version="1.0"?>
<config>
    <modules>
        <Bluehorse_Testimonial>
            <version>0.1.0</version>
        </Bluehorse_Testimonial>
    </modules>
	<admin>
        <routers>
            <testimonial>
                <use>admin</use>
                <args>
                    <module>Bluehorse_Testimonial</module>
                    <frontName>testimonial</frontName>
                </args>
            </testimonial>
        </routers>
    </admin>
	<adminhtml>
		 <menu>
		  <testimonial module="testimonial">
			<title>Testimonial</title>
			<sort_order>72</sort_order>
			<children>
                   <testimonial module="testimonial">
                      <title>Manage Testimonial</title>
                        <sort_order>1</sort_order>               
                        <action>testimonial/adminhtml_testimonial</action>
                 </testimonial>
			  </children>
		  </testimonial>
		</menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                    <testimonial>
                        <children>
                            <testimonial>
                                <title>Manage Testimonial</title>
                                <sort_order>12</sort_order>
                            </testimonial>
                        </children>
                    </testimonial>
                </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <testimonial>
                    <file>testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <testimonial>
                <class>Bluehorse_Testimonial_Model</class>
                <resourceModel>testimonial_mysql4</resourceModel>
            </testimonial>
            <testimonial_mysql4>
                <class>Bluehorse_Testimonial_Model_Mysql4</class>
                <entities>
                    <testimonial>
                        <table>testimonial</table>
                    </testimonial>
                </entities>
            </testimonial_mysql4>
        </models>

        <blocks>
            <testimonial>
                <class>Bluehorse_Testimonial_Block</class>
            </testimonial>
        </blocks>

        <helpers>
            <testimonial>
                <class>Bluehorse_Testimonial_Helper</class>
            </testimonial>
        </helpers>

        <resources>
            <testimonial_setup>
                <setup>
                    <module>Bluehorse_Testimonial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonial_setup>
            <testimonial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonial_write>
            <testimonial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonial_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <testimonial>
                <use>standard</use>
                <args>
                    <module>Bluehorse_Testimonial</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonial>
        </routers>
        <layout>
            <updates>
                <testimonial>
                    <file>testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bluehorse_Testimonial>
                    <files>
                        <default>Bluehorse_Testimonial.csv</default>
                    </files>
                </Bluehorse_Testimonial>
            </modules>
        </translate>
    </frontend>
</config>
